@model UserProfileDto

<div class="left-sidebar">
    <div class="sidebar-header d-flex align-items-center justify-content-between">
        <img src="~/drake/assets/images/logo.png" alt="Logo">
        <span class="designation">@Model.Degree</span>
    </div>
    <img class="me" src="@Model.Picture" alt="Me">
    <h2 class="email">@Model.Email</h2>
    <h2 class="address">@Model.Address</h2>
    <p class="copyright">&copy; @DateTime.Now.Year Drake. All Rights Reserved</p>
    <ul class="social-profile d-flex align-items-center flex-wrap justify-content-center">
        @foreach (var socialMedia in Model.SocialMediaGetAllDto)
        {
            <li>
                <a href="@socialMedia.Link" target="_blank"><i class="@socialMedia.IconName"></i></a>
            </li>
        }
    </ul>
    <a href="#" class="theme-btn">
        <i class="las la-envelope"></i> Hire Me!
    </a>
</div>